### 리스트 관련 함수

In [23]:
colors = []
colors = list()

In [24]:
colors

[]

In [27]:
colors.append('red')

In [28]:
colors.append('green')

In [29]:
colors

['green', 'red', 'green']

In [30]:
colors.append('blue')

In [31]:
colors

['green', 'red', 'green', 'blue']

In [32]:
colors.remove('green') #앞에 부터 지워짐

In [34]:
colors

['red', 'green', 'blue']

In [35]:
colors.sort()

In [36]:
colors

['blue', 'green', 'red']

In [50]:
a = [1,7,2,3,64,43,22,-2]

In [38]:
a.sort()

In [39]:
a

[-2, 1, 2, 3, 7, 22, 43, 64]

In [42]:
a.reverse()

In [43]:
a

[64, 43, 22, 7, 3, 2, 1, -2]

In [47]:
a.sort(reverse=True) #내림차순 정렬

In [48]:
a

[64, 43, 22, 7, 3, 2, 1, -2]

In [54]:
###sorted는 원본은 그대로, 힘수 실행 시 리턴값을 보여줌. 

sorted(a)
sorted(a, reverse=True) #내림차순 정렬

#리턴값이 없으면 none 으로 반환됨

[64, 43, 22, 7, 3, 2, 1, -2]

In [55]:
a.reverse()

In [59]:
res = list(range(1,11))
res

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
sum(res)

55

In [61]:
max(res)

10

In [62]:
min(res)

1

In [63]:
type(sum)

builtin_function_or_method

In [64]:
# sum을 변수명으로 설정할 경우 sum의 함수 기능을 잃음. 
# 따라서 함수 sum을 사용하기 위해서는 kernel restart!

In [74]:
num = []
while True:
    number = input("Enter a number: ")
    if number != 'done':
        num.append(int(number))    
    else:
        break

print('Average: %.1f'%(sum(num)/len(num)))
print('Maximum: %.1f'%max(num))
print('Minimum: %.1f'%min(num))

Enter a number: 7
Enter a number: 2
Enter a number: 9
Enter a number: 3
Enter a number: 5
Enter a number: done
Average: 5.2
Maximum: 9.0
Minimum: 2.0

### 튜플

In [75]:
t = 1,2,3

In [76]:
t

(1, 2, 3)

In [77]:
type(t)

tuple

In [78]:
t = (1)

In [79]:
type(t)

int

In [80]:
t = (1,)

In [81]:
type(t)

tuple

### 집합

In [82]:
#원소 중복 될 수 없음. 집합 내에서 순서없이 항목을 저장. 따라서 indexing 불가능

s = {}

In [83]:
s

{}

In [84]:
type(s)

dict

In [85]:
#빈 집합 만들기
s = set()

In [86]:
s

set()

In [87]:
type(s)

set

In [88]:
s = {1,2,3,3,4,5}
s

{1, 2, 3, 4, 5}

In [90]:
set([1,2,3,4,5,6,3])

{1, 2, 3, 4, 5, 6}

In [95]:
word = "hello"*2
word

'hellohello'

In [100]:
word_list = list(word)
word_list

['h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o']

In [99]:
s1 = set(word)
s1

{'e', 'h', 'l', 'o'}

In [102]:
s2 = set(word)
s2

{'e', 'h', 'l', 'o'}

### 딕셔너리

In [134]:
d = {}
d['Kim'] = 1
d['Park'] = 2

In [135]:
d

{'Kim': 1, 'Park': 2}

In [108]:
num_list = [1,2,3]
num_list[0]

1

In [111]:
d['Kim'] #키 값을 적어줌

1

In [112]:
d = {'hello':3, 0:10, }

In [116]:
d

{'Kim': 1, 'Park': 2}

In [117]:
d['Kim']

1

In [118]:
d['Kim'] = 10

In [119]:
d

{'Kim': 10, 'Park': 2}

In [120]:
d['youn'] = 1
d

{'Kim': 10, 'Park': 2, 'youn': 1}

In [121]:
d.keys()

dict_keys(['Kim', 'Park', 'youn'])

In [125]:
d.values()

dict_values([10, 2, 1])

In [126]:
d.items() #튜플형태로 묶어서 출력.

dict_items([('Kim', 10), ('Park', 2), ('youn', 1)])

In [127]:
'Kim' in d

True

In [128]:
del d['Kim']
d

{'Park': 2, 'youn': 1}

In [142]:
cnt = {}
sen = input("Enter a sentence: ")
for i in sen:
    cnt[i] = sen.count(i)
print(cnt, end = '')

Enter a sentence: python is fun!
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2, ' ': 2, 'i': 1, 's': 1, 'f': 1, 'u': 1, '!': 1}

In [143]:
sen = set(input("Enter a sentence: "))

Enter a sentence: python is fun